/loop01/target/
/scopos/target/
/exercicios-ini/ex05/target/
/exercicios-ini/ex06/target/
/exercicios-ini/ex07/target/
/exercicios-ini/ex08/target/
/exercicios-ini/ex03/ex09/target/
/exercicios-ini/ex10/target/
